<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  body {
    -webkit-font-smoothing: antialiased;
    background: white;
    font-family: Times New Roman;
  }

  .text-label {
    font-family: "Bungee", sans-serif;
  }

  .text-label2 {
    font-family: "Lusitana", sans-serif;
  }

  .table {

    border: 1px solid black;
    margin: 10px;
  }

  .table th,
  .table td {
    border: 1px solid black;
    padding: 10px 20px 10px 20px;
  }

  .table.center {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10px 20px 10px 20px;
  }
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<div
  class="flex justify-center items-center px-16 py-20 bg-white border-gray-100 border-solid border-[5px] max-md:px-5">
  <div class="flex flex-col mt-28 w-full max-w-[2081px] max-md:mt-10 max-md:max-w-full">
    <div class="self-center text-6xl font-bold text-center text-black max-md:max-w-full max-md:text-4xl">
      CX Performance Report: Mr Wong (Sydney)
    </div>
    <div class="self-center mt-14 text-4xl font-bold text-center text-black max-md:mt-10 max-md:max-w-full">
      March 1, 2024 - March 30, 2024
    </div>
    <div class="mt-48 text-4xl font-bold text-black max-md:mt-10 max-md:max-w-full">
      Executive Summary
    </div>
    <div class="mt-14 text-4xl text-black max-md:mt-10 max-md:max-w-full">
      &123;AI Generated executive summary of results, key themes and trends and
      impact score compared to the previous period&125;
    </div>
    <div class="mt-36 max-md:mt-10 max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col max-md:gap-0">
        <div class="flex flex-col w-3/12 max-md:ml-0 max-md:w-full h-[310px]">
          <div class="flex flex-col grow max-md:mt-10">
            <div
              class="z-10 justify-center px-16 py-5 text-4xl font-semibold bg-gray-100 rounded-2xl text-zinc-800 max-md:pr-7 max-md:pl-7">
              New Reviews
            </div>
            <div
              class="flex justify-center items-center px-16 py-14 text-center bg-white rounded-none shadow-lg max-md:px-5">
              <div class="flex flex-col max-w-full w-[179px]">
                <div class="text-6xl font-semibold leading-[99.96px] text-zinc-800 max-md:text-4xl">
                  152
                </div>
                <div class="mt-11 text-2xl leading-7 text-zinc-600 max-md:mt-10">
                  Last Period: 84
                </div>
                <img loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/36bb279e7187d67183e0e49b49cae0ecdd17f8d708cf34cca69a7a385783a5ba?"
                  class="self-center mt-9 max-w-full aspect-[4.35] w-[125px]" />
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full h-[310px]">
          <div class="flex flex-col grow max-md:mt-10">
            <div
              class="z-10 justify-center px-10 py-5 text-4xl font-semibold bg-gray-100 rounded-2xl text-zinc-800 max-md:px-5">
              Average Rating
            </div>
            <div
              class="flex justify-center items-center px-16 py-14 text-center bg-white rounded-none shadow-lg max-md:px-5">
              <div class="flex flex-col max-w-full w-[174px]">
                <div class="text-6xl font-semibold leading-[99.96px] text-zinc-800 max-md:text-4xl">
                  4.8
                </div>
                <div class="mt-10 text-2xl leading-7 text-zinc-600 max-md:mt-10">
                  Last Period: 4.6
                </div>
                <img loading="lazy"
                  src="https://cdn.builder.io/api/v1/image/assets/TEMP/685903c35d20c93fc81581691af7cef6e947842cce27cec2c4ccc7b4e33d7868?"
                  class="self-center mt-9 max-w-full aspect-[4.35] w-[125px]" />
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full h-[310px]">
          <div class="flex flex-col grow max-md:mt-10">
            <div
              class="z-10 justify-center px-11 py-5 text-4xl font-semibold bg-gray-100 rounded-2xl text-zinc-800 max-md:px-5">
              Response Time
            </div>
            <div class="flex flex-col items-center px-11 py-14 text-center bg-white rounded-none shadow-lg max-md:px-5">
              <div class="self-stretch text-6xl font-semibold leading-[80.64px] text-zinc-800 max-md:text-4xl">
                2 days
              </div>
              <div class="mt-7 text-2xl leading-7 text-zinc-600">
                Last Period: 4 days
              </div>
              <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/166b5851cee65c0aa7cfa3b6360262f2e47221b38c3d06eb259f82db383909ed?"
                class="mt-8 max-w-full aspect-[4.35] w-[125px]" />
            </div>
          </div>
        </div>
        <div class="flex flex-col ml-5 w-3/12 max-md:ml-0 max-md:w-full h-[310px]">
          <div class="flex flex-col grow text-4xl font-semibold whitespace-nowrap text-zinc-800 max-md:mt-10">
            <div class="z-10 justify-center items-center px-16 py-5 bg-gray-100 rounded-2xl max-md:px-5">
              Sentiment
            </div>
            <img loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/a37f453dbee1d7cce100464394dd2e9f8c30dfbdb68017bcb82270b299f9d471?"
              class="w-full shadow-lg aspect-[1.23]" />
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col pb-20 mt-36 text-4xl text-black bg-white border-black border-solid border-[3px] leading-[52px] max-md:mt-10 max-md:max-w-full">
      <div
        class="flex z-10 flex-col px-16 pt-7 pb-5 -mt-1 font-bold bg-gray-100 border-black border-solid border-[3px] max-md:px-5 max-md:max-w-full">
        <div class="flex gap-5 justify-center px-10 py-2.5 max-md:flex-wrap max-md:px-5 max-md:mr-2 max-md:max-w-full">
          <div class="flex-auto">Source</div>
          <div class="flex-auto">Reviews</div>
          <div class="flex-auto">Previous Rating</div>
          <div class="flex-auto">Current Rating</div>
          <div class="flex-auto">Change</div>
        </div>
      </div>
      <div
        class="flex gap-5 self-center mt-14 w-full text-center whitespace-nowrap max-w-[1822px] mb-[466px] max-md:flex-wrap max-md:my-10 max-md:max-w-full">
        <div class="flex-auto">Google</div>
        <div>85</div>
        <div>4.7</div>
        <div>4.8</div>
        <div>10%</div>
      </div>
    </div>
  </div>
</div>